[{:db/id #db/id [:db.part/user]
  :customer/name "ドラゴン"
  :customer/pref :customer.pref/Shimane}
 {:db/id #db/id [:db.part/user -1]
  :customer/name "深川125"
  :customer/pref :customer.pref/Hiroshima}
 {:db/id #db/id [:db.part/user -2]
  :customer/name "とるたん"
  :customer/pref :customer.pref/Yamaguchi
  :customer/invited-by #db/id [:db.part/user -1]}
 {:db/id #db/id [:db.part/user -3]
  :customer/name "ただのカスタマー"
  :customer/pref :customer.pref/Okayama
  :customer/invited-by #db/id [:db.part/user -2]}
 {:db/id #db/id [:db.part/user]
  :customer/name "お得意様"
  :customer/pref :customer.pref/Fukuoka
  :customer/invited-by #db/id [:db.part/user -1]}
 {:db/id #db/id [:db.part/user]
  :customer/name "ぼく田中"
  :customer/pref :customer.pref/Tottori
  :customer/invited-by #db/id [:db.part/user -3]}]
