;; For customer entity
[{:db/id #db/id [:db.part/db]
  :db/ident :customer/name
  :db/doc "カスタマーの名前"
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :customer/likes
  :db/doc "カスタマーが好きなもの(レビューやコメントへの参照)"
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :customer/pref
  :db/doc "カスタマーが、どこに住んでるか(都道府県)"
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :customer/invited-by
  :db/doc "カスタマーが、誰に紹介されたか"
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}]

;; For review entity
[{:db/id #db/id [:db.part/db]
  :db/ident :review/title
  :db/doc "レビューのタイトル"
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :review/body
  :db/doc "レビューの本文"
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :review/num-stars
  :db/doc "レビューの星の数"
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :review/reviewer
  :db/doc "レビューしたカスタマー"
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}]

;; For book entity
[{:db/id #db/id [:db.part/db]
  :db/ident :book/title
  :db/doc "書籍のタイトル"
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :book/price
  :db/doc "書籍の価格(税込み・円)"
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :book/reviews
  :db/doc "書籍のレビュー"
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many
  :db.install/_attribute :db.part/db}]

;; For comment entity
[{:db/id #db/id [:db.part/db]
 :db/ident :comment/commentor
 :db/doc "コメントしたカスタマー"
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :comment/body
  :db/doc "コメントの本文"
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}
 {:db/id #db/id [:db.part/db]
  :db/ident :comments
  :db/doc "コメント(レビューやコメントなど、コメント対象に付ける属性)"
  :db/valueType :db.type/ref
  :db/isComponent true
  :db/cardinality :db.cardinality/many
  :db.install/_attribute :db.part/db}]

;; Prefecture entities
[[:db/add #db/id[:db.part/user] :db/ident :customer.pref/Hiroshima]
 [:db/add #db/id[:db.part/user] :db/ident :customer.pref/Yamaguchi]
 [:db/add #db/id[:db.part/user] :db/ident :customer.pref/Shimane]
 [:db/add #db/id[:db.part/user] :db/ident :customer.pref/Okayama]
 [:db/add #db/id[:db.part/user] :db/ident :customer.pref/Tottori]
 [:db/add #db/id[:db.part/user] :db/ident :customer.pref/Fukuoka]]
